* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  color: #252525;
  line-height: 1em;
  padding: 10px 10px;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 1rem;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h1,
h2,
h3,
nav {
  font-family: "Saira Extra Condensed", sans-serif;
}

#department, input[type=text], select, textarea{
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  margin: 0rem 2rem;
}

label {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
}

input[type=reset], input[type=save]{
  background-color: rgba(10, 102, 187, 0.8);
  text-align: center;
  line-height: 1.5em;
  color: white;
  margin: 2em 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* float: center; */
}

section {
  display: flex;
  flex-flow: column;
  background-color: #f6f7f3;
}

section h2 {
  text-align: center;
}


header {
  padding: 5px;
  /* width: calc(100vw - 8em); */
  color: #fff;
  background-color: rgba(10, 102, 187, 0.8);
}

nav {
  display: flex;
  /* height: 1em; */
  align-items: center;
  justify-content: space-around;
}

nav a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.nav-item a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}


.form-wrap {
  display: flex;
  border-style: solid;
  flex-direction: column;
  border-radius: 10px;
  background-color: #c29f9f;
  padding: 0 20px 30px;
}
.form-wrap h2{
  text-align: left;
  font-size: 2.5em;
}

.wrap {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
}

.user-profile{
  flex: auto;
  display: flex;
  align-content: space-around;
  flex-flow: column wrap;
  border-radius: 10px;
  border-style: solid;
  background-color: #63e9ee;
  padding: 10px;
}

.user-profile .user-info {
  text-align: center;
  font-style: italic;
}


.footer {
  width: 100vw;
  height: 6em;
  background-color: rgba(10, 102, 187, 0.8);
  color: #fff;
}


@media screen and (max-width: 600px) {
  .nav .nav-item .form-wrap, input[type=reset], input[type=save] {
    display: flex;
    /* flex-direction: column; */
    flex-flow: column wrap;
    /* width: 100%; */
    margin-top: 1rem;
    align-items: flex-start;
  }
}
