* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  /* margin: 0px; */
  flex-wrap: wrap;
  font-family: Helvetica, Arial, sans-serif;
  width: calc(100% - 5em);
}

p {
  color: #252525;
  line-height: 1em;
  padding: 10px 10px;
  /* position: inherit; */
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h1,
h2,
h3,
nav {
  font-family: "Saira Extra Condensed", sans-serif;
}

#department, input[type=text], select, textarea{
  width: 90%;
  justify-content: flex-end;
  padding: 10px;
  border: 1px solid rgb(25, 119, 33);
  border-radius: 4px;
  box-sizing: border-box;
  /* resize: vertical; */
}

label {
  padding: 10px 5px;
  display: flex;
  align-items: stretch;
}

input[type=reset], input[type=save]{
  background-color: rgba(10, 102, 187, 0.8);
  text-align: center;
  line-height: 1.5em;
  color: white;
  margin: .5em;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* float: center; */
}

section {
  display: flex;
  flex-grow: column wrap;
  flex-direction: column;
  justify-content: space-between;
  /* box-sizing: border-box; */
  background-color: #f6f7f3;
  position: relative;
  width: 100vw;
  /* overflow: hidden; */
  padding: 10px;
}
section h2 {
  text-align: center;
  position: relative;
  margin: 60px 0;
}


header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  /* margin: 0 1em; */
  padding: 20px;
  width: 100vw;
  /* width: calc(100vw - 8em); */
  color: #fff;
  background-color: rgba(10, 102, 187, 0.8);
  /* border-radius: 0 0 1em 1em; */
  /*z-index: 2;*/
}

header .title {
  flex-grow: 1;
  /* padding-top: 0.25em; */
}

header nav {
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  flex-direction: row;
  align-content: center;
  padding-right: 20px;
}

.nav-item {
  height: 1em;
  margin: 0 1.5em 0 0;
  align-items: stretch;
}

.nav-item a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.nav-item a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}


.form-wrap {
  display: flex;
  /* width: 100%; */
  border-style: solid;
  box-sizing: border-box;
  flex-direction: column;
  Justify-content: space-around;
  /* align-items: stretch; */
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #c29f9f;
  padding: 20px;
  position: inherit;
}
.form-wrap h2{
  text-align: left;
  font-size: 2.5em;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  /* justify-content: space-between; */
  flex-direction: row;
  /* align-content: center; */
  /* padding-right: 20px; */
}
.user-profile{
  display: inline-flex;
  flex-direction: column;
  /* align-content: stretch; */
  flex-flow: column wrap;
  flex-wrap: wrap;
  flex-grow: 0 0 33%;
  border-radius: 10px;
  border-style: solid;
  background-color: #63e9ee;
  padding: 10px;
}

.user-profile .user-info {
  /* width: calc(100% - 5em); */
  margin-left: 2.5em;
  text-align: center;
  font-style: italic;
}

/* .col-text {
  float: left;
  width: 25%;
  margin-top: 4px;
} */

/* .col-input {
  float: left;
  width: 100%;
  margin-top: 2px 4px 5px;
} */

 .flex {
  display: flex;
}

.footer {
  width: 100vw;
  height: 6em;
  background-color: rgba(10, 102, 187, 0.8);
  color: #fff;
}

@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .nav-item .form-wrap, input[type=reset], input[type=save] {
    flex-flow: column wrap;
    width: 100%;
    margin-top: 0;
    align-items: center;
  }
}
